
<app-abm-inventario [visible]="modal == 'inventario'" (success)="success()" [datos]="modalDatos" ></app-abm-inventario>
<p-toast key="inventario"></p-toast>

<p-table
    #dt2
    [value]="Inventarios"
    dataKey="id"
    [rows]="10"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    [loading]="loading"
    [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [globalFilterFields]="['codigo', 'descripcion','caracteristicas']"
    [tableStyle]="{ 'min-width': '75rem' }"
    >

    <ng-template pTemplate="header">
        <tr>
            <th style="width:22%">Codigo</th>
            <th style="width:22%">Descripcion</th>
            <th style="width:12%">Caracteristicas</th>
            <th style="width:12%">Acciones</th>
        </tr>
        <tr>
            <th>
                <p-columnFilter type="text" field="codigo"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="descripcion"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="caracteristicas"></p-columnFilter>
            </th>
            <th>
                <p-button icon="pi pi-plus" (onClick)="MODAL('inventario',null)" styleClass="p-button-raised p-button-success"></p-button>
                <p-button icon="pi pi-trash" label="Todo" (onClick)="ConfirmarTodo($event)" styleClass="p-button-raised p-button-danger"></p-button>
                <p-button label="Exportar" icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-raised p-button-success" pTooltip="XLS" ></p-button>
                <p-fileUpload name="import" mode="basic" [auto]="true" chooseIcon="pi pi-file-excel" chooseLabel="Importar" accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" [maxFileSize]="1000000" (onSelect)="onExcelUpload($event)"></p-fileUpload>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-inventario>
        <tr>
            <td>
                {{ inventario.codigo }}
            </td>
            <td>
                {{ inventario.descripcion }}
            </td>
            <td>
              {{ inventario.caracteristicas }}
          </td>
            <td>
                <p-toast></p-toast>
                <p-confirmPopup></p-confirmPopup>
                <p-button icon="pi pi-pencil" styleClass="p-button-raised"(onClick)="MODAL('inventario',inventario)"> </p-button>
                <p-button icon="pi pi-trash" styleClass="p-button-raised p-button-danger"(onClick)="Confirmar($event,inventario.id)"> </p-button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="5">No customers found.</td>
        </tr>
    </ng-template>
</p-table>